h1 {
  color: white;
  text-align: center;
}
.contact{
  border: 2px solid white;
  background-color: white;
  width: 20%;
  font-family: monospace;
  margin-left: 550px;
}
body {
  background-color: black
}
