h1 {
  color: white;
}
h2 {
color: white;
}
h3 {
  color: blue;
}
body {
background-color: skyblue;
}
.About {
  border :4px solid red;
  color: green;
  width: 30%;
  float: left;
  margin-left: 100px;
  font-family: serif;
}
.Help {
  border: 4px solid red;
  color: green;
  margin-right: 100px;
  float: right;
  font-family: serif;
  width: 30%;
}
.container-fluid{
margin-left: 600px;
}
